* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


:root{
    --red: #d3241c;
    --dark-blue: #0c1228;
    --main-header-height: 60px;
}

a {
    text-decoration: none;
}

/* body */
body{
    position: relative;
}

/* Header */

@media screen and (max-width: 1150px) {
    .main-menu>li>a {
        padding: 10px 2px  !important;
    }

    .main-menu{
        padding: 0 10px !important;
    }
}


@media screen and (max-width: 912px) {
    .main-menu>li>a {
        font-size: 12px !important;
        letter-spacing: 0 !important;
        font-weight: 500 !important;
    }
}

@media screen and (max-width: 792px) {
    .mobile-button{
        display: block!important;
    }
  
    #menu{
        background-color: var(--red);
    }

    .nav-active{
        display: flex!important;
    }

    .main-menu {
        display: none;
        padding-right: 30px!important;
        background-color: var(--red);
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
  
    .main-menu>li {
        margin-left: 5px!important;
        width: 100%;
        text-align: center;
        line-height: 48px!important;
    }

    .main-menu li .sub-menu {
        background-color: transparent!important;
    }
    .main-menu li .sub-menu  li {
        border-bottom-color: transparent!important;
        line-height: 40px;
    }
    .main-menu li .sub-menu  li a{
        color: white;
        opacity: 0.5;
    }
    .main-menu li .sub-menu  li a:hover{
        opacity: 1;
        color: white!important;
    }
    
    .main-menu li:hover .sub-menu {
        opacity: 1;
        visibility: visible;
        position: relative;
    }

}



.mobile-button{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
}

.mobile-button i{
    color: white;
}

.main-header {
    background-color: var(--red);
    height: var(--main-header-height);
    position: fixed;
    z-index: 12;
    width: 100%;
    top: 0;
}

.main-header .logo {
    float: left;
    line-height: var(--main-header-height);
    padding-left: 60px;
    color: white;
}

.main-header .logo a {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
}
.main-header .logo a em {
    font-style: normal;
    color: var(--red);
}

.main-menu {
    float: right;
    padding-right: 60px;
    transition: all 0.3s;
}

.main-menu li {
    display: inline-block;
    line-height: var(--main-header-height);
    margin-left: 15px;
    position: relative;
}

.main-menu li:first-child {
    margin-left: 0px;
}

.main-menu li a {
    padding: 10px 15px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    color: #fff;
    border: 2px solid transparent;
    transition: all 0.1s;
}

.main-menu li .sub-menu {
    position: absolute;
    width: 100%;
    background-color: #18233a;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    padding-left: 0;
}

.main-menu li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
}

.main-menu li .sub-menu li {
    display: block;
    line-height: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--dark-blue);
    margin: 0;
}

.main-menu li .sub-menu li:first-child {
    padding-top: 10px;
}

.main-menu li .sub-menu li:last-child {
    margin-bottom: 0px;
    border-bottom: none;
}

.main-menu li .sub-menu li a {
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    letter-spacing: 0.5px;
    border: none;
    transition: all 0.5s;
}

.main-menu li .sub-menu li a:hover {
    color: var(--red);
    border: none;
    transition: all 0.1s;
}

.main-nav li:hover a,
.main-nav li.active a {
    border-bottom: 2px solid var(--red);
}

@media (max-width: 950px) {
    .main-nav li:hover a,
    .main-nav li.active a {
        border: 2px solid transparent;
        border-bottom: 1px solid rgba(250,250,250,0.25);
    }
}



/* banner */
#banner-slider{
    padding-top: var(--main-header-height);
}

.carousel-indicators{
    bottom: -45px;
}


.carousel-indicators [data-bs-target]{
    background-color: var(--red);
}




/* Utils */

.utils{
    position: fixed;
    z-index: 1000;
    bottom: 60px;
    right: 40px;
}

@media screen and (max-width: 580px){
  
  .utils{
    bottom: 20px;
  }

}

@keyframes shaking {
    0%{
        transform: scale(0.9) rotate(0);
        opacity: 0.9;
    }
    4% {
        transform: scale(1) rotate(-18deg);
        opacity: 0.94;
    }
    6% {
        transform: scale(0.9) rotate(0deg);
        opacity: 1;
    }
    8% {
        transform: scale(0.95) rotate(13deg);
        opacity: .87;
    }
    10% {
        transform: scale(0.9) rotate(-22deg);
        opacity: .92;
    }
    12% {
        transform: scale(1) rotate(12deg);
        opacity: .9;
    }
    14% {
        transform: scale(0.88) rotate(-15deg);
        opacity: 1;
    }
    18% {
        transform: scale(1) rotate(14deg);
        opacity: .94;
    }
    20% {
        transform: scale(0.9) rotate(0);
        opacity: .9;
    }
}

.utils .util-box{
  position: relative;
  border-radius: 50%;
  margin: 10px 0;
  box-shadow: 0 5px 8px var(--dark-blue);
}
/* 
.utils .util-box .util-desc p{
  color: white;
  margin: 0;
}

.utils .util-box .util-desc {
  position: absolute;
  display: flex;
  top: 0;
  right: 100%;
  width: 200px;
  height: 100%;
  background-color: var(--red);
  border-radius: 10px;
  padding: 0 20px;
  animation: unset;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 5px 8px var(--dark-blue);
  transition: all 0.3s;
} */

.utils .util-box div {
    cursor: pointer;
    transition: all 0.35s;
    transform: scale(0.9) rotate(0);
    opacity: 0.9;
    animation: shaking 15s infinite;
    
}

.utils .util-box div:hover{
    opacity: 1;
}

.utils div:hover{
    opacity: 1;
}

.utils div img {
    width: 35px;
    height: 35px;
}


/* footer */


footer {
    background-color: #152036;
    text-align: center;
}

footer p {
    margin-bottom: 0px;
    padding: 25px 0px;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
}

footer p a,
footer p a:hover {
    color: var(--red);
}



@media screen and (max-width: 1000px) {
    .footer-cols  > div{
      padding: 0px  !important;
    }
  }


@media screen and (max-width: 767px) {
  footer p {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.25px;
  }

  .footer-banner{
    padding: 10px 20px !important;
  }
  .footer-banner div h2{
    font-size: 20px !important;
  }
  .footer-banner div h3{
    font-size: 16px !important;
  }
}


@media screen and (max-width: 580px) {
  .footer-logo{
      text-align: center !important;
  }
  .footer-cols-text{
    text-align: center !important;
  }   
}






.footer-20192 {
    position: relative;
    color: #fff;
    padding: 7rem 0;
    background-color: #141d2a; 
  }
    .footer-20192 .container {
      position: relative; 
  }
    .footer-20192 h3 {
      font-size: 16px;
      margin-bottom: 10px;
      margin-top: 0;
      line-height: 1.5; 
  }
    .footer-20192 .links li {
      margin-bottom: 10px;
      line-height: 1.5;
      display: block; 
  }
  .footer-20192 .links li a {
        color: #666873; 
  }
  
  .footer-20192 .links li a:hover {
          color: #fff; 
  }
  .footer-20192 .social li {
      display: inline-block;
      position: relative; 
  }
  .footer-20192 .social li a {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: inline-block;
        margin: 0;
        padding: 0;
        background-color: #8186d5;
        color: #fff; 
  }
  
  .footer-20192 .social li a > span {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); 
  }
    .footer-20192 .footer-logo {
      color: #fff;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: .1rem; 
  }
    .footer-20192 .copyright {
      color: #666873; 
  }
    .footer-20192 .cta {
      -webkit-box-shadow: -20px -20px 0 0 rgb(129 134 213 / 59%);
      box-shadow: -20px -20px 0 0 rgb(129 134 213 / 59%);
      padding: 20px;
      background-color: #8186d5;
      top: -150px;
      position: relative; 
  }
  .footer-20192 .cta h2, .footer-20192 .cta h3 {
        line-height: 1.5; 
  }
  .footer-20192 .cta h3 {
        font-size: 20px; 
  }

  .footer-cols  > div{
    padding: 10px;
  }
  
  .footer-cols  > div:last-child{
    padding: 0 10px!important;
  }
  .text-left {
    text-align: left;
  }
  .list-unstyled *{
      font-size: 13px;
  }
  
  .list-unstyled li {
      padding: 0;
  }
  
  .social li a{
      line-height: 40px;
  }
  .social li a .fa-brands {
      font-size: 16px;
      color: white;
  }

  
  .submit-email{
    opacity: 0.9;
    transition: all .3s;
  }

  .submit-email:hover{
    opacity: 1;
    background-color: var(--red);
  }
  
  .submit-email i{
    color: var(--red);
    transition: all .3s;
  }
  .submit-email:hover i {
    color: white;
  }


  /* Main section */


  .main .main-section .main-section-title{
    font-size: 16px;
    padding: 8px 14px;
    margin: 15px 0 25px 0;
    border-radius: 8px;
    text-transform: uppercase;
    background-color: var(--red);
    display: inline-block;
    color: white;
    position: relative;
    z-index: 10;
  }

  
  .main .main-section::after{
    position: absolute;
    content: "";
    z-index: 2;
    top: 47px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--red);
  }


  .main .main-section {
    position: relative;
    padding: 15px 0;
  }


  .main .main-section>p{
    padding-left: 30px;
  }

  .main-section .main-boxes .main-box{
    text-align: center;
  }
  .main-section .main-boxes .main-box h4{
    font-size: 13px;
    font-weight: bold;
    color: var(--red);
  }
  .main-section .main-boxes .main-box p{
    color: var(--red);
    font-size: 13px;
  }
  .main-section .main-boxes .main-box .img-round-thumb{
    width: 150px;
    height: 150px;
    margin: auto;
    object-fit: cover;
    border-radius: 50%;
  }

  .border-radius-0{
    border-radius: 0;
  }

  .sidebar-container{
    height: fit-content; 
    top: 45px !important
  }

  .sidebar aside a img{
    padding-bottom: 8px;
    object-fit: cover;
    width: 100%;
  }

  @media screen and (max-width:  768px){    
    .sidebar aside a img{
      width: auto;
      height: 100%
    }
  }

  .news-thumb{
    width: 100%;
    object-fit: cover;
  }

  .news-text{
    color: black !important;
  }

  .news-box .border-box{
    border: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 20px;
    background-color: white;
  }

  .border-box .news-text-box{
    padding: 0 12px;
    text-align: left;
  }

  @media screen and (max-width: 1024px) {
    
    .main-section .main-boxes .main-box .img-round-thumb{
        width: 100px;
        height: 100px;
    
    }
  }


  .register-box .register-content .paper-plane img{
    width: 85%;
    object-fit: cover;
  }

  
  .register-box .register-content .register-content-text .register-content-top h6{
    font-size: 18px;
  }

  .register-box .register-content .register-content-text .register-content-bottom p,
  .register-box .register-content .register-content-text .register-content-bottom a{
    font-size: 14px;
    margin-bottom: 5px;
    word-wrap: break-word;
  }
  .register-content{
    position: relative;
  }
  
  @media (max-width: 450px){
    .register-box .register-content .register-content-text .register-content-bottom p,
    .register-box .register-content .register-content-text .register-content-bottom a {
      font-size: 11px;
      margin-bottom: 5px;
      word-wrap: break-word;
    }
  }

  @media (max-width: 370px){
    .paper-plane{
      position: absolute;
      z-index: -1;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 75% !important;
      opacity: .2;
    }

    .register-content-text-box{
      width: 100%;
    }
  }


/* schools slider */
  .schools  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }

  .schools img{
    width: 150px;
  }

  @media (max-width: 992px){
    .schools img{
      width: 100px;
    }
  }


  @media (max-width: 672px){
    .schools img{
      width: 75px;
    }
  }
  
  @media (max-width: 386px){
    .schools img{
      width: 50px;
    }
  }


  /* path */
  
  .circle-container{
    position: relative;
  }

    
  .circle-section::-webkit-scrollbar-track
  {
    background-color: #F5F5F5;
  }

  .circle-section::-webkit-scrollbar
  {
    height: 2px;
  }

  .circle-section::-webkit-scrollbar-thumb
  {
    background-color: grey;
  }

  @media screen and (max-width: 682px){
    .circle-section{
      overflow-x: scroll;
    }
    .circle-container{
      width: 105vw;
    }
    
  }

  
  @media screen and (max-width: 565px){
    .circle-container{
      width: 125vw;
    }
    
  }

 
  @media screen and (max-width: 478px){
    .circle-container{
      width: 125vw;
      margin:0 15px ;
    }
    
  }


  
  @media screen and (max-width: 325px){
    .circle-container{
      width: 150vw;
      margin:0 15px ;
    }
    
  }

  
  @media screen and (max-width: 275px){
    .circle-container{
      width: 175vw;
      margin:0 15px ;
    }
    
  }


  .circle-container .circle-box{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }

  .circle-container::before {
    position: absolute;
    width: 100%;
    height: 6px;
    top: 14%;
    left: 0;
    transform: translateY(-50%);
    content: "";
    background-color: rgb(206, 198, 198);
  }

  
.circle-container .circle-box .circle-box-icon{
  border: 2px solid rgb(206, 198, 198);
  height: 45px;
  width: 45px;
  line-height: 45px;
  border-radius: 50%;
  cursor: pointer;  
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: white;
}

  
.circle-container .circle-box .circle-box-icon img{
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 10;
}
  

.circle-container .circle-box .circle-box-icon::after{
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: var(--red);
  transition: all 0.5s;
  z-index: 3;
}
.circle-container .circle-box .circle-box-icon:hover{
  border-color: var(--red);
  background-color: var(--red);
}

.circle-container .circle-box .circle-box-icon:hover:after{
  background-color: white;
}


.circle-container .circle-box .circle-box-content{
  margin-top: 10px;
  text-align: center;
  color: var(--dark-blue);
  font-size: 13px;
  height: 100px;
}


  /* students */
  .main-boxes .box-avt{
    border: 2px solid var(--red);
    border-radius: 5px;
  }
  .main-boxes .box-avt img{
    width: 100%;
    object-fit: cover;
    padding: 3px;
  }

  .main-boxes .stu-box{
    padding-right: 30px;
    margin-bottom: 20px;
  }

  .main-boxes .name{
    position: relative;
    font-weight: 600;
    padding: 3px 15px;
    border: 2px dotted var(--red);
    border-left: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  .main-boxes .name::after{
    position: absolute;
    width: 75%;
    height: 3px;
    background-color: white;
    bottom: -2px;
    left: 0;
    content: '';
  }

  .main-boxes ul{
    margin: 15px 0;
  }
  .main-boxes ul li{
    font-size: 14px;
    padding: 5px;
  }
  
  .main-boxes ul li b {
    font-weight: 600;
  }

  /* korea-uni-bg */
  .korea-uni-bg{
    background-image: url("./assets/images/thumb/korea-university-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 55px;
  }

  /* register-form */

  .register-form{

  }

  #register-form{
    
    background-color: var(--red);
    border-radius: 15px;
    padding: 20px;
  }

  
  .register-form .title{
    padding: 16px 0 12px 0;
  }

  .register-form .title h6{
    color: white;
    text-transform: uppercase;
    font-size: 20px;
  }

  
  .register-form  input{
    margin-bottom: 10px;
    width: 100%;
    padding: 8px 8px 8px 18px;
    border: 0;
    border-radius: 5px;
  }

  @media (max-width: 1280px){
    
    .register-form  input::placeholder{
      font-size: 13px;
    }

  }




  #sent{
    text-transform: uppercase;
    background-color: #46b834;
    color: white;
    padding: 4px 25px;
    opacity: 0.9;
    margin-top: 10px;
    transition: all .2s;
  }

  
  #sent:hover{
    opacity: 1;
  }
  
  /* re style container */

  @media (min-width: 640px){
    .container {
        max-width: 640px;
    }
  }

  @media (min-width: 768px){
    .container {
        max-width: 768px;
    }
  }

  @media (min-width: 992px){
    .container {
        max-width: 992px;
    }
  }



  @media (min-width: 1024px){
    .container {
        max-width: 1024px;
    }
  }


  @media (min-width: 1280px){
    .container {
        max-width: 1280px;
    }
  }


  img{
    object-fit: cover;
  }